<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnowStorm128</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <meta name="description" content="SnowStorm128's Portfolio website built with HTML, CSS and JavaScript." />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="style/main.css" />
    <script src="script/main.js" defer></script>
</head>

<body>
    <header>
        <p>SnowStorm128 <%= testVar %></p>
        <nav>
            <a href="#aboutMe">About Me</a>
            <a href="#skillSets">Skill Sets</a>
            <a href="#projects">Projects</a>
            <button class="mobile-nav-button" aria-label="Open mobile navigation"><img
                    src="assets/ui/three-dots-vertical.svg" alt="three vertiacal dot" /></button>

        </nav>
    </header>
    <div class="mobile-nav">
        <div class="mobile-nav-content">
            <div class="mobile-nav-list">
                <a href="#aboutMe">About Me</a>
                <a href="#skillSets">Skill Sets</a>
                <a href="#projects">Projects</a>
            </div>
            <button>
                <img src="assets/ui/x-symbol-svgrepo-com.svg" alt="closing x" />
            </button>
        </div>
    </div>
    <main>
        <section class="hero">
            <h1>Hi There! Let’s get to know each other</h1>
            <a href="#aboutMe">Get started</a>
        </section>
        <div id="circle1"></div>
        <div id="circle2"></div>

        <section id="aboutMe">

            <div>

                <h2>About Me</h2>
                <p>I’m a front-end developer passionate about creating modern, fast websites. I follow programming
                    language
                    documentation closely to create clean and semantic website that I and other developers can improve
                    upon.
                    <br /><br />Currently, I’m a college student studying computer science at the university of Bach
                    Khoa Da
                    Nang,
                    and I
                    am
                    currently doing freelancing work on Upwork to gain experience and earn money.

                    <br /><br />Though I may be lacking in experience, I will do my best to deliver the results on time
                    and
                    communicate
                    effectively to provide my clients with satisfying outcomes.
                </p>
            </div>
            <div class="background">

            </div>
        </section>
        <section id="skillSets">
            <h2>Skill Sets</h2>
            <ol>
                <li><img src="assets/logo/html-logo.svg" alt="HTML logo" />
                    <p>HTML</p>
                </li>
                <li><img src="assets/logo/javascript-logo.svg" alt="JavaScript logo" />
                    <p>JavaScript</p>
                </li>
                <li><img src="assets/logo/css-logo.svg" alt="CSS logo" />
                    <p>CSS</p>
                </li>
                <li><img src="assets/logo/react-logo.svg" alt="React logo" />
                    <p>React</p>
                </li>
                <li><img src="assets/logo/typescript-logo.svg" alt="TypeScript logo" />
                    <p>TypeScript</p>
                </li>
                <li><img src="assets/logo/tailwind-css-logo.svg" alt="Tailwind logo" />
                    <p>Tailwind CSS</p>
                </li>
                <li><img src="assets/logo/next-js-logo.svg" alt="Next.js logo" />
                    <p>Next.js</p>
                </li>
                <li><img src="assets/logo/framer-motion-logo.svg" alt="Framer motion logo" />
                    <p>Framer motion</p>
                </li>
                <li><img src="assets/logo/shadcn-ui-logo.svg" alt="Shadcn/ui logo" />
                    <p>Shadcn/ui</p>
                </li>

                <li><img src="assets/logo/vite-logo.svg" alt="Vite logo" />
                    <p>Vite</p>
                </li>
                <li><img src="assets/logo/react-router-logo.svg" alt="React Router logo" />
                    <p>React Router</p>
                </li>
                <li><img src="assets/logo/angular-logo.svg" alt="Angular logo" />
                    <p>Angular Router</p>
                </li>
            </ol>
            <div id="circle3"></div>
            <div id="circle4"></div>
            <div id="circle5"></div>

        </section>
        <section id="projects">
            <div>

                <h2>Projects</h2>
                <ol>
                    <li>
                        <img src="assets/logo/github-logo.svg" alt="github logo" />
                        <a href="https://github.com/SnowStorm128/SnowStorm128.github.io" target="_blank">Portfolio
                            website
                            built with
                            vanilla HTML, JavaScript, and CSS<img src="assets/ui/new-tab.svg"
                                alt="new tab symbol" /></a>
                    </li>
                    <!-- <li>
                        <img src="assets/logo/github-logo.svg" alt="github logo" />
                        <a href="#">Portfolio website built with
                            React, Framer motion<img src="assets/ui/new-tab.svg" alt="new tab symbol" /></a>
                    </li> -->
                </ol>
            </div>
            <div class="background">

            </div>
        </section>

    </main>
    <footer>
        <h2>Contacts</h2>
        <div id="contacts">
            <div>

                <p><b>Gmail:</b></p>
                <p> buiw17716@gmail.com</p>
            </div>

            <div>

                <p><b>Github:</b></p><a href="https://github.com/SnowStorm128" target="_blank"> SnowStorm128</a><img
                    src="assets/ui/new-tab.svg" alt="new tab symbol" />
            </div>
            <div>

                <p><b>Upwork:</b></p><a href="https://www.upwork.com/freelancers/~01a7feffe9de7c7a6f" target="_blank">
                    Thang B</a><img src="assets/ui/new-tab.svg" alt="new tab symbol" />
            </div>
        </div>
    </footer>
</body>

</html>